* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background: #000;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  touch-action: none;
  user-select: none;
}

/* Phaser injects the canvas */
#app canvas {
  display: block;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
